* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
text-decoration: none;
}

a {
  color: inherit;
}
body {
  background: #d6d8d8;
  position: relative;
}

.header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 80%;
  width: 20%;
  background: white url("../images/websitelogo.png") no-repeat center/contain;
}

.header__nav {
  background: white;
  width: 500px;
  margin-right: 70px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: brown;
  padding: 0px 0px 0px 0px;
  font-weight: bolder;
}

.header__list-elem {
  margin-left: 20px;
  list-style: none;
}

.l-topcontainer {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d6d8d8;
}

.sidebar {
  height: 150%;
  width: 20%;
  max-width: 250px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a7ebe), color-stop(#2b8ccd), color-stop(#3a9bdb), color-stop(#48aaea), to(#55b9f9));
  background-image: linear-gradient(to bottom, #1a7ebe, #2b8ccd, #3a9bdb, #48aaea, #55b9f9);
}

.sidebar__icon {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a5a3a3;
  padding: 20px 0px 0px 0px;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__icon i {
  margin-right: 10px;
}

.sidebar__menu {
  margin: 25px 0px;
}

.sidebar__list-elem {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.75em 1.2em;
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__list-elem:hover {
  background-color: #334a55;
}

.sidebar__list-elem--active {
  background-color: #334a55;
}

.main {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  background-color: #d6d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto auto;
}

.c-card {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 45%;
  margin-bottom: 5%;
  margin-top: 1%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-card__logo {
  height: 170px;
  width: 210px;
  background-size: 100% 100%;
}

.c-card__logo[data-name="integrateDB"] {
  background: url("../images/integrateDB.svg") no-repeat center/contain;
}

.c-card__logo[data-name="spreadsheet"] {
  background: url("../images/spreadsheet.svg") no-repeat center/contain;
}

.c-card__logo[data-name="viewdata"] {
  background: url("../images/viewdata.svg") no-repeat center/contain;
}

.c-card--height {
  height: 75%;
}

.c-card__submit {
  height: 50px;
  width: 220px;
  font-size: 18px;
  color: white;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 7px;
  background-color: #26de81;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.c-card__submit--blue {
  background-color: #0984e3;
}

.c-card__heading {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.c-card__button {
  text-align: center;
}

.c-card--full-width {
  max-width: none;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
}

.c-card--heading {
  max-width: none;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 30px;
  margin: 20px;
  text-align: left;
  background: #d6d8d8;
}

.tabulator {
  font-size: 16px !important;
  font-family: Verdana, Geneva, Tahoma !important;
  position:abolute;
}

.tabulator-col {
  background-color: #f64b3c !important;
  color: white !important;
}

.popup__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup__container:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 38%;
  min-width: 700px;
  max-height: 700px;
  position: relative;
  overflow-y: scroll;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup__heading {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup__close {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 25px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup__close:hover {
  color: #06D85F;
}

.popup__content {
  max-height: 30%;
  overflow: auto;
  margin-top: 10px;
}

.popup__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__button {
  margin: 50px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__loading {
  background: url("../images/loading1.gif") no-repeat center/contain;
  background-size: 200px;
  height: 500px;
}

.popup__confirmed {
  background: url("../images/confirm.gif") no-repeat center/contain;
  background-size: 500px;
  height: 300px;
}

.h-mar {
  margin: 0px 30px;
}

.datainput {
  border: 2px solid grey;
  margin: 40px 10px 10px;
  position: relative;
  width: 300px;
  /*media query 270*/
  height: 40px;
  padding: 3px 10px;
  border-radius: 5px;
}

.datainput__input {
  border: none;
  width: 270px;
  /*media query*/
  height: 30px;
  padding: 3px 10px 2px;
  font-size: medium;
  background-color: white;
}

.datainput__input:focus {
  outline: none;
  background-color: white;
}

.datainput__input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.datainput__input:focus:-ms-input-placeholder {
  visibility: hidden;
}

.datainput__input:focus::-ms-input-placeholder {
  visibility: hidden;
}

.datainput__input:focus::placeholder {
  visibility: hidden;
}

.datainput__label {
  display: none;
  background-color: white;
}

.datainput__label--focus {
  position: absolute;
  top: -11px;
  display: inline;
  left: 20px;
  padding: 0px 2px;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  color: #137d60;
  font-family: 'Roboto',sans-serif;
}

.datainput__warnings {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

.datainput--heading {
  border: none;
  margin: 10px 10px 10px;
  text-align: left;
  font-size: 20px;
  width: 300px;
  /*media query 270*/
  height: 10px;
  padding: 3px 10px;
  border-radius: 5px;
}

.datainput--margin-top {
  position: relative;
  margin-top: 100px;
}

.h-hide {
  display: none;
}
/*# sourceMappingURL=integration.css.map */